<%= render 'nav' %>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="card-body p-5">
        
            <%= render 'form', task: @task %>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                <%= link_to "All", tasks_path, class: "nav-link #{params[:status].blank? ? 'active' : ''}" %>
              </li>
              <% Task.statuses.keys.each do |status| %>
                <li class="nav-item" role="presentation">
                  <%= link_to status.humanize, tasks_path(status: status), class: "nav-link #{params[:status] == status ? 'active' : ''}" %>
                </li>
              <% end %>
            </ul>
            <!-- Tabs navs -->
          
    <%== pagy_bootstrap_nav(@pagy) %>

            <!-- Tabs content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <ul class="list-group mb-0">
                  <% @tasks.each do |task| %>
                    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded" style="background-color: #f4f6f7;">
                      <%= task.title %>
                      <div class="ms-auto d-flex">
                        <% if params[:status].blank? %>
                          <%= link_to  edit_task_path(task), class: 'btn btn-sm btn-primary me-2' do %>
                                <i class="bi bi-pencil"></i>
                        <%end%>
                          <%= button_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
                            <i class="bi bi-x-lg"></i>
                          <% end %>                        
                        <% else %>
                          <% if task.status == 'to_do' %>
                            <%= button_to update_status_task_path(task, status: 'in_progress'), method: :patch, class: 'btn btn-sm btn-info me-2' do %>
                              <i class="bi bi-play-circle"></i>
                          <% end %>                            
                            <%= button_to update_status_task_path(task, status: 'done'), method: :patch, class: 'btn btn-sm btn-success me-2' do %>
                              <i class="bi bi-check-circle"></i>
                            <% end %>                          
                          <% elsif task.status == 'in_progress' %>
                            <%= button_to update_status_task_path(task, status: 'done'), method: :patch, class: 'btn btn-sm btn-success me-2' do %>
                              <i class="bi bi-check-circle"></i>
                            <% end %>                          
                          <% end %>
                            <%= button_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
                            <i class="bi bi-x-lg"></i>
                          <% end %>                        
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
           
        
            <!-- Tabs content -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
