<h1>Task Manager</h1>

<div>
  <h2>New Task</h2>
  <%= render 'form', task: @task %>
</div>

<div>
  <h2>Task List</h2>

<ul class="tabs-bar">
    <li class="tabs-bar__item">
      <%= link_to "All", tasks_path %>
    </li>
    <% tasks_filtered_by_status.each do |status| %>
      <li class="tabs-bar__item">
        <%= link_to status.humanize, tasks_path(status: status) %>
      </li>
    <% end %>
  </ul>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <strong>Title:</strong> <%= task.title %> |
        <strong>Description:</strong> <%= task.description %> |
        <strong>Status:</strong> <%= task.status.humanize %> |
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
</div>
